version: "3.7"

services:
  camunda-bpm:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    environment:
      - CAMUNDA_DB_PASSWORD=camunda
      - CAMUNDA_DB_HOST=host.docker.internal
      - CAMUNDA_DB_PORT=5898
      - CLIENT_ID
      - CLIENT_SECRET
      - ISSUER_URI
      - SPRING_FLYWAY_ENABLED=false
      - CAMUNDA_BPM_DATABASE_SCHEMA_UPDATE=true
      - SPRING_PROFILES_ACTIVE=default
    ports:
      - "8999:8999"
    depends_on:
      - camunda-bpm-database
  camunda-bpm-database:
    build:
      context: docker/database
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5898:5432
    volumes:
      - camunda-bpm:/var/lib/postgresql/data

volumes:
  camunda-bpm:
