java:
  applicationPort: 8999
  aadIdentityName: camunda
  image: 'hmctsprivate.azurecr.io/camunda/bpm:latest'
  keyVaults:
    camunda:
      secrets:
        - name: bpm-POSTGRES-PASS
          alias: spring.datasource.password
        - name: camunda-admin-password
          alias: CAMUNDA_ADMIN_PASSWORD
        - name: s2s-secret-camunda-bpm
          alias: S2S_SECRET_CAMUNDA_BPM
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
  environment:
    CAMUNDA_DB_HOST: "hmcts-camunda-{{ .Values.global.environment }}.postgres.database.azure.com"
    CAMUNDA_DB_NAME: "camunda"
    CAMUNDA_DB_USER_NAME: "camundaadmin@hmcts-camunda-{{ .Values.global.environment }}"
    CAMUNDA_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    CAMUNDA_DB_CONN_OPTIONS: ?sslmode=require&gssEncMode=disable
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    TASK_CONFIGURATION_URL: "http://wa-task-management-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
